<main>
  <h3>Todo Lists</h3>

  <!-- Alert -->

  <!-- Modal -->
  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="isUpdate ? 'Update Todo' : 'Add New Todo'"
    (nzOnCancel)="handleModal()"
    nzOkText="Ok"
    nzCancelText="Cancel"
  >
    <ng-container *nzModalContent>
      <form
        [formGroup]="formData"
        (ngSubmit)="!isUpdate ? handleSubmit() : handleUpdate()"
      >
        <div class="formGroup">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="inputField"
          />

          <div
            *ngIf="
              (formData.dirty || isSubmitted) &&
              formData.get('name')?.hasError('required')
            "
            class="text-error"
          >
            Name is Required
          </div>
        </div>
        <div class="formGroup">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            formControlName="description"
            class="inputField"
          />

          <div
            *ngIf="
              (formData.dirty || isSubmitted) &&
              formData.get('description')?.hasError('required')
            "
            class="text-error"
          >
            Description is Required
          </div>
        </div>
        <div class="formGroup">
          <label for="status">Status</label>
          <select formControlName="status" id="status" class="inputField">
            <option value="">Select</option>
            <option value="pending">Pending</option>
            <option value="active">Active</option>
          </select>

          <div
            *ngIf="
              (formData.dirty || isSubmitted) &&
              formData.get('status')?.hasError('required')
            "
            class="text-error"
          >
            Status is Required
          </div>
        </div>

        <button
          nz-button
          nzType="primary"
          style="margin-top: 20px"
          type="submit"
        >
          {{ isUpdate ? "Update" : "Save" }}
        </button>
      </form>
    </ng-container>
  </nz-modal>
  <button
    nz-button
    nzType="primary"
    style="margin-bottom: 15px"
    (click)="handleModal()"
  >
    Add todo
  </button>

  <!-- Table -->
  <nz-table #basicTable [nzData]="todos">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Staus</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of todos">
        <td>{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td [appStatus]="data.status" style="font-weight: bold">
          <span>
            {{ data.status.charAt(0).toUpperCase() + data.status.slice(1) }}
          </span>
        </td>
        <td>
          <a (click)="handleModal(data.id)">Update</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="handleDelete(data.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</main>
