.container{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    height: 70%;
}
.container >div{
    background-color: rgb(220, 219, 241);
    padding: 90px;
    border-radius: 8px;
    

}