<main class="container">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/todos" routerLinkActive="active">Todos</a>
    <a routerLink="/counter" routerLinkActive="active">Counter</a>
    <!-- {{ (auth$ | async) ==false }} -->
    @if ((auth$ | async) == true ) {
    <button (click)="handleLogout()" type="button" style="color: black">
      Logout
    </button>
    }
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
